@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cadastro";
}

<h2> Cadastro alterado </h2>

<div>
    <input type="number" name="ID" value="@ViewBag.IdPessoa" />
</div>
<br />
<div>
    <input type="text" name="Nome" value="@ViewBag.Nome" />
</div>
<br />
<div>
    <input type="text" name="Cpf" value="@ViewBag.Cpf" />
</div>
<a href="~/" > Volta para a pagina anterior</a>